body {
  color: #222;
  background-color: #f2f2f2;
}

.app {
  padding: 0 15px;
  display: grid;
  grid-template-areas:
          'app-header app-header app-header app-header app-header app-header app-header app-header app-header'
          'app-navbar app-navbar app-content app-content app-content app-content app-content app-content app-content';
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.app-content {
  grid-area: app-content;
  padding: 15px;
  background-color: #fff;
  margin-left: 15px;
}
.block-name {
  border: 1px solid #eee;
  background-color: #f5f7fa;
  padding: 10px;
  font-weight: bold;
  margin: 20px 0;
}

.textarea-default {
  width: 99%;
  margin-bottom: 20px;
  border: 1px solid #dbdbdb;
  background-color: #f5f7fa;
  padding: 5px;
  &:focus {
    background-color: #fff;
  }
}

.btn-default {
  border: none;
  background-color: #e9ecf0;
  padding: 10px;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    background-color: #0288d1;
    color: #fff;
 }
}