.app-header {
  text-align: left;
  grid-area: app-header;
  border: 1px solid #eeee;
  margin-bottom: 15px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 150px auto;
  padding: 15px;
  .logo {
    img  {
      width: 150px;
    }
  }
  .sign-in {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }
}