.profile-content {
  .avatar-profile {
    width: 200px;
    img {
      width: 100%;
    }
  }
  .info-profile {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
  }
  .username {
    font-size: 22px;
    font-weight: 700;
  }
  .posts-profile {
    display: grid;
    grid-template-columns: 300px 1fr;
    .posts-wrapper {
      grid-column: 2;
      .add-post {
        textarea {
          width: 99%;
          margin-bottom: 10px;
        }
      }
      .posts-list {
        margin-top: 30px;
      }
    }
  }
}

.post-item {
  margin-bottom: 40px;
  .author-posted {
    display: grid;
    grid-template-columns: 90px auto;

    .author-photo {
      width: 80px;
      height: 80px;
      grid-row: 1 / 3;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 50%;
      }
    }
    .author-name {
      align-self: center;
    }
    .date-post {
      font-size: 12px;
      color: #868686;
    }
  }
  .text-post {
    margin-top: 15px;
  }
}

